<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LibraryMVC</title>
</head>
<body>
    <div id="app">
        @RenderBody()
    </div>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/bundle/main.js"></script>
</body>
</html>
